<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
   <h1>Invoice</h1>

   <p><%=invoiceInfo.firstName%></p>
    <!-- User will be directed to this page when they create a new invoice OR click on a previously generated invoice in their dashboard - this page should list all info from invoice verbosely -->

<script src="js/main.js"></script>
</body>
</html>