<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
   <h1>Account Settings</h1>

   <!-- Here I will list the user's setting out, add some frontend JS that allows the to click to edit, and then send that to the backend to Update the DB -->
    
<script src="js/main.js"></script>
</body>
</html>